@model HistClinica.Models.Especialidad

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Especialidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codEspecialidad" class="control-label"></label>
                <input asp-for="codEspecialidad" class="form-control" />
                <span asp-validation-for="codEspecialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codSigesa" class="control-label"></label>
                <input asp-for="codSigesa" class="form-control" />
                <span asp-validation-for="codSigesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codSubEspecial" class="control-label"></label>
                <input asp-for="codSubEspecial" class="form-control" />
                <span asp-validation-for="codSubEspecial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descSubEspecial" class="control-label"></label>
                <input asp-for="descSubEspecial" class="form-control" />
                <span asp-validation-for="descSubEspecial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

