@model HistClinica.DTO.PersonaDTO
<div class="modal-dialog" role="document">
	<div class="modal-content" style="width: 1200px;position: relative;right: 302px;">
		<div class="container">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<h2 style="text-align: left">Asignar Usuario</h2>
					</div>
				</div>
			</div>

		</div>

		@using (Html.BeginForm())
		{
			<div class="container">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-md-6">
							<div class="box box-primary">
								<div class="box-body">
									<div class="form-group">
										<label>CODIGO</label>
									</div>
									<div class="form-group">
										@Html.EditorFor(m => m.personal.idEmpleado, new { htmlAttributes = new { @class = "form-control" } })
									</div>
									<div class="form-group">
										<label>TIPO</label>
									</div>
									<div class="form-group">
										@Html.DropDownListFor(m => m.personal.idTipoEmpleado, new SelectList(ViewBag.lsttipoempleado, "idtab", "descripcion"), new { @class = "form-control" })
									</div>
									<div class="form-group">
										<label>AFILIA EN CAJA</label>
									</div>
									<div class="form-group">
										<select class="form-control">
											<option>Si</option>
											<option>No</option>
										</select>
									</div>
									<div class="form-group">
										<label>CLAVE </label>
									</div>
									<div class="form-group">
										<input ID="txtClave" Text="" class="form-control" size="60" maxlength="60">
									</div>
									<div class="form-group">
										<button class="btn btn-primary">Asignar modulo</button>
									</div>

								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="box box-primary">
								<div class="box-body">
									<div class="form-group">
										<label>NOMBRE USUARIO</label>
									</div>
									<div class="form-group">
										@Html.EditorFor(m => m.primerNombre , new { htmlAttributes = new { @class = "form-control" } })
									</div>
									<div class="form-group">
										<label>NUMERO DE DOCUMENTO</label>
									</div>
									<div class="form-group">
										@Html.EditorFor(m => m.numeroDocumento, new { htmlAttributes = new { @class = "form-control" } })
									</div>
									<div class="form-group">
										<label>CAJA </label>
									</div>
									<div class="form-group">
										<select class="form-control">
											<option>Caja 1</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div align="right" style="padding-bottom: 20px;">
					<table>
						<tr>
							<td>
								<button type="button" class="btn btn-primary" style="width: 112px;font-size: 16px;">Guardar </button>
							</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>

							<td>
								<button type="button" class="btn btn-dark" style="width: 112px;font-size: 16px;">Salir</button>
							</td>
						</tr>
					</table>
				</div>

			</div>
		}

	</div>
</div>