@model HistClinica.DTO.PersonaDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Persona</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="apePaterno" class="control-label"></label>
                <input asp-for="apePaterno" class="form-control" />
                <span asp-validation-for="apePaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apeMaterno" class="control-label"></label>
                <input asp-for="apeMaterno" class="form-control" />
                <span asp-validation-for="apeMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombres" class="control-label"></label>
                <input asp-for="nombres" class="form-control" />
                <span asp-validation-for="nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idtpDocumento" class="control-label"></label>
                <input asp-for="idtpDocumento" class="form-control" />
                <span asp-validation-for="idtpDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dniPersona" class="control-label"></label>
                <input asp-for="dniPersona" class="form-control" />
                <span asp-validation-for="dniPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idSexo" class="control-label"></label>
                <input asp-for="idSexo" class="form-control" />
                <span asp-validation-for="idSexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEtnico" class="control-label"></label>
                <input asp-for="idEtnico" class="form-control" />
                <span asp-validation-for="idEtnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecNacimiento" class="control-label"></label>
                <input asp-for="fecNacimiento" class="form-control" />
                <span asp-validation-for="fecNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUbigeoResi" class="control-label"></label>
                <input asp-for="idUbigeoResi" class="form-control" />
                <span asp-validation-for="idUbigeoResi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idtipoVia" class="control-label"></label>
                <input asp-for="idtipoVia" class="form-control" />
                <span asp-validation-for="idtipoVia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreVia" class="control-label"></label>
                <input asp-for="nombreVia" class="form-control" />
                <span asp-validation-for="nombreVia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroVia" class="control-label"></label>
                <input asp-for="nroVia" class="form-control" />
                <span asp-validation-for="nroVia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroDpto" class="control-label"></label>
                <input asp-for="nroDpto" class="form-control" />
                <span asp-validation-for="nroDpto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="interior" class="control-label"></label>
                <input asp-for="interior" class="form-control" />
                <span asp-validation-for="interior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manzana" class="control-label"></label>
                <input asp-for="manzana" class="form-control" />
                <span asp-validation-for="manzana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroLote" class="control-label"></label>
                <input asp-for="nroLote" class="form-control" />
                <span asp-validation-for="nroLote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroKm" class="control-label"></label>
                <input asp-for="nroKm" class="form-control" />
                <span asp-validation-for="nroKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroBlock" class="control-label"></label>
                <input asp-for="nroBlock" class="form-control" />
                <span asp-validation-for="nroBlock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroEtapa" class="control-label"></label>
                <input asp-for="nroEtapa" class="form-control" />
                <span asp-validation-for="nroEtapa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad" class="control-label"></label>
                <input asp-for="edad" class="form-control" />
                <span asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUbigeoNace" class="control-label"></label>
                <input asp-for="idUbigeoNace" class="form-control" />
                <span asp-validation-for="idUbigeoNace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fotografia" class="control-label"></label>
                <input asp-for="fotografia" class="form-control" />
                <span asp-validation-for="fotografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idGrdInstruc" class="control-label"></label>
                <input asp-for="idGrdInstruc" class="form-control" />
                <span asp-validation-for="idGrdInstruc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idReligion" class="control-label"></label>
                <input asp-for="idReligion" class="form-control" />
                <span asp-validation-for="idReligion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="centroEduca" class="control-label"></label>
                <input asp-for="centroEduca" class="form-control" />
                <span asp-validation-for="centroEduca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEstCivil" class="control-label"></label>
                <input asp-for="idEstCivil" class="form-control" />
                <span asp-validation-for="idEstCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idOcupacion" class="control-label"></label>
                <input asp-for="idOcupacion" class="form-control" />
                <span asp-validation-for="idOcupacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idgpoSangre" class="control-label"></label>
                <input asp-for="idgpoSangre" class="form-control" />
                <span asp-validation-for="idgpoSangre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idFactorrh" class="control-label"></label>
                <input asp-for="idFactorrh" class="form-control" />
                <span asp-validation-for="idFactorrh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroRuc" class="control-label"></label>
                <input asp-for="nroRuc" class="form-control" />
                <span asp-validation-for="nroRuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="razonSocial" class="control-label"></label>
                <input asp-for="razonSocial" class="form-control" />
                <span asp-validation-for="razonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estadoRuc" class="control-label"></label>
                <input asp-for="estadoRuc" class="form-control" />
                <span asp-validation-for="estadoRuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="condicionRuc" class="control-label"></label>
                <input asp-for="condicionRuc" class="form-control" />
                <span asp-validation-for="condicionRuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="domiFiscal" class="control-label"></label>
                <input asp-for="domiFiscal" class="form-control" />
                <span asp-validation-for="domiFiscal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idParentesco" class="control-label"></label>
                <input asp-for="idParentesco" class="form-control" />
                <span asp-validation-for="idParentesco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="celular" class="control-label"></label>
                <input asp-for="celular" class="form-control" />
                <span asp-validation-for="celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iddatoReniec" class="control-label"></label>
                <input asp-for="iddatoReniec" class="form-control" />
                <span asp-validation-for="iddatoReniec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iddatoSunat" class="control-label"></label>
                <input asp-for="iddatoSunat" class="form-control" />
                <span asp-validation-for="iddatoSunat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iddatoSiteds" class="control-label"></label>
                <input asp-for="iddatoSiteds" class="form-control" />
                <span asp-validation-for="iddatoSiteds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idemprConvenio" class="control-label"></label>
                <input asp-for="idemprConvenio" class="form-control" />
                <span asp-validation-for="idemprConvenio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idciaSeguro" class="control-label"></label>
                <input asp-for="idciaSeguro" class="form-control" />
                <span asp-validation-for="idciaSeguro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idtipoIafa" class="control-label"></label>
                <input asp-for="idtipoIafa" class="form-control" />
                <span asp-validation-for="idtipoIafa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

