

<div class="row pb-2">
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-4">
				<label>Medico</label>
			</div>
			<div class="col-sm-8">
				<select class="form-control">
					<option>Juan Rivera</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-4">
				<label>Especialidad</label>
			</div>
			<div class="col-sm-8">
				<select class="form-control">
					<option>Cardiologo</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-4">
				<label>Consultorio</label>
			</div>
			<div class="col-sm-8">
				<select class="form-control">
					<option>Pediatria</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="row pb-2">
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-4">
				<label>Fecha</label>
			</div>
			<div class="col-sm-8">
				<input type="date" class="form-control" name="">
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-4">
				<label>Hora Inicio</label>
			</div>
			<div class="col-sm-8">
				<select class="form-control">
					<option>9:00</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-4">
				<label>Hora Fin</label>
			</div>
			<div class="col-sm-8">
				<select class="form-control">
					<option>18:00</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="row pb-2">
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-4">
				<label>Estado</label>
			</div>
			<div class="col-sm-8">
				<select class="form-control">
					<option>Activo</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
	</div>
	<div class="col-sm-4">
	</div>
</div>
<div class="row pb-2 text-right">
	<div class="col-sm-12">
		<button class="btn btn-primary">Guardar</button>
	</div>
</div>