@model HistClinica.Models.D001_USUARIO
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/css/styles.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
	<div>
		<div>
			<img class="imglogo" src="~/images/imgclinica.png" />
		</div>
		<div class="sub-main-w3">
			@using (Html.BeginForm())
			{
				<img src="/images/logo.png" alt="">
				<h2>Por favor inicie sesión</h2>
				<div class="form-style-agile">
					@Html.TextBoxFor(m => m.loginUser, new { @class = "form-control" })
				</div>
				<div class="form-style-agile">
					@Html.TextBoxFor(m => m.claveUser, new { @class = "form-control", @type = "password" })
				</div>
				<div class="wthree-text">
					<ul>
						<li>
							<!--<div class="checkout-w3l">
								<div class="demo5">
									<div class="switch demo3">
										<input type="checkbox">
										<label>
											<i></i>
										</label>
									</div>
								</div>
								<a href="#">Stay Signed In</a>
							</div>-->
						</li>
						<li>
							<a href="#">Olvidaste tu contraseña?</a>
						</li>
					</ul>
				</div>
				<input type="submit" id="btnIngresar" value="Ingresa">
				@if (ViewBag.error != null)
				{
					<div class="col-sm-12 alert alert-danger text-center" role="alert" style="margin-top: 15px;">
						@ViewBag.error
					</div>
				}
			}
		</div>
		<div class="clear"></div>
	</div>

	<script>
		/*	document.getElementById('btnIngresar').addEventListener('click', validar);

			function validar() {
				var pass = document.getElementById("password");
				if (pass == "123") {
					alert("Bienvenido");
				} else {
					alert("Datos incorrectos");
				}
			}*/
	</script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>