
@{
    ViewData["Title"] = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualizar Tipo</h1>


<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Editar" asp-controller="Detalle" id="frmEnviar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Codigo</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripcion</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" align="right">
                <input type="button" value="Agregar" class="btn btn-primary" onclick="Abrir()" />
                <a asp-action="Index" class="btn btn-danger">Regresar</a>
            </div>



        </form>
    </div>
</div>


<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Acciones
                </th>


            </tr>
        </thead>
        <tbody class="tbody">
            <tr>
                <th scope="row">TIP001</th>
                <td>MASCULINO</td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                    <a class="fa fa-edit btn btn-primary" aria-hidden="true">

                    </a>
                </td>

            </tr>


        </tbody>
    </table>
</div>


