@using HistClinica.DTO;
@model DetalleDTO
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear un Detalle</h1>

<hr />

<div class="row">
    <div class="col-md-6">

        <form asp-action="Agregar" method="post">

            <div class="form-group">

                <label asp-for="coddetTab"></label>
                <input asp-for="coddetTab" class="form form-control" />
                <span asp-validation-for="coddetTab" class="text-danger"></span>
                @*@if (Model != null && Model.mensajeError != "")
                {
                    <p class="text-danger">El nombre de la especialidad ya existe</p>
                }*@
            </div>

            <div class="form-group">

                <label asp-for="descripcion"></label>
                <input asp-for="descripcion" class="form form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-primary" />


                <a asp-action="Index" class="btn btn-danger">Regresar</a>


            </div>



        </form>

    </div>


</div>


