
@{
    ViewData["Title"] = "EditarInformacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Informacion</h1>

<hr />

<div class="row">
    <div class="col-md-6">

        <form asp-action="Editar" method="post">

            <div class="form-group">

                <label>Codigo</label>
                <input class="form form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">

                <label>Descripcion</label>
                <input class="form form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />


                <a asp-action="Index" class="btn btn-danger">Regresar</a>


            </div>



        </form>

    </div>


</div>

