
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">Gestion de Tipos</h1>

<h4>

</h4>
<h4>
</h4>

<form  method="post" class="mb-2"
      style="display:grid;grid-template-columns:1fr 2fr 1fr 1fr" id="frmFormulario">

    <label> Ingresar Codigo:</label>
    <input type="text" id="nombre" class="form form-control" name="coddetTab" />
    <input type="submit" value="Buscar" class="btn btn-primary" />

</form>
<div class="container">
    <button type="button" class="btn btn-primary" asp-action="Agregar">Crear</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr>
                <th scope="row">TIP001</th>
                <td>MASCULINO</td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                    <a class="fa fa-edit btn btn-primary" aria-hidden="true">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

