
@model HistClinica.Models.D00_TBGENERAL
<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title text-center" id="exampleModalLabel">Editar Tipo</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		@using (Html.BeginForm())
		{
			@Html.HiddenFor(m => m.idTab)
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Codigo</label>
							@Html.EditorFor(m => m.codTab, new { htmlAttributes = new { @class = "form-control" } })
						</div>
						<div class="form-group">
							<label class="control-label">Descripcion</label>
							@Html.EditorFor(m => m.descripcion, new { htmlAttributes = new { @class = "form-control" } })
							<span class="text-danger"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button style="width: 80px;" type="submit" class="btn btn-primary">Guardar</button>
				<button style="width: 80px;" type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		}
	</div>
</div>


